<mat-list>

  <div class="header">
    <button mat-stroked-button class="create-button" (click)="handleCreate()">add project</button>
  </div>

  <ng-container *ngIf="projects != undefined">
    <mat-list-item *ngFor="let project of projects" class="item" (click)="handleInfo(project)">
      <div>{{project.name}}</div>
      <div class="separator"></div>
      <button mat-stroked-button class="delete-button" (click)="handleDelete(project)">delete</button>
    </mat-list-item>
  </ng-container>
</mat-list>
