<mat-list>

  <div class="header">
    <button mat-stroked-button class="create-button" (click)="handleCreate($event)">add user</button>
  </div>

  <ng-container *ngIf="users != undefined">
    <mat-list-item *ngFor="let user of users" class="item" (click)="handleInfo(user)">
      <div>{{user.username}}</div>
      <div class="separator"></div>
      <button mat-stroked-button class="delete-button" (click)="handleDelete($event, user)">delete</button>
    </mat-list-item>
  </ng-container>
</mat-list>
