<div class="block">
  <div class="block__header">View&edit users</div>
  <div class="block__content">

    <p>
      <mat-form-field class="example-full-width">
        <mat-label>search by username</mat-label>
        <input matInput (input)="onNameFilterInputChanged($event.target)" placeholder="username">
      </mat-form-field>
    </p>

    <p>
      <mat-radio-group aria-label="Select an option" (change)="onRoleFilterInputChanged($event)">
        <mat-radio-button value="all" name="roleFilter" [checked]="true">all</mat-radio-button>
        <mat-radio-button value="admin" name="roleFilter">admins</mat-radio-button>
        <mat-radio-button value="user" name="roleFilter">users</mat-radio-button>
      </mat-radio-group>
    </p>

    <table mat-table [dataSource]="users" class="table">
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef width="200px">userId</th>
        <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>username</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>usefirstNamername</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="secondName">
        <th mat-header-cell *matHeaderCellDef>secondName</th>
        <td mat-cell *matCellDef="let element"> {{element.secondName}} </td>
      </ng-container>

      <ng-container matColumnDef="patronymic">
        <th mat-header-cell *matHeaderCellDef>patronymic</th>
        <td mat-cell *matCellDef="let element"> {{element.patronymic}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>email</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="button-group">
            <button mat-flat-button color="accent" class="button-group__button"
                    (click)="onClickEditButton(element.userId)">
              Edit
            </button>
            <button mat-flat-button color="warn" class="button-group__button"
                    (click)="onClickDeleteButton(element.userId)">
              Delete
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<div class="block">
  <div class="block__header">Add user</div>
  <div class="block__content">

    <form class="form" [formGroup]="form">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>username</mat-label>
          <label>
            <input type="text" matInput formControlName="username"/>
          </label>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>firstName</mat-label>
          <label>
            <input type="text" matInput formControlName="firstName"/>
          </label>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>secondName</mat-label>
          <label>
            <input type="text" matInput formControlName="secondName"/>
          </label>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>patronymic</mat-label>
          <label>
            <input type="text" matInput formControlName="patronymic"/>
          </label>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <label>
            <input type="email" matInput formControlName="email"/>
          </label>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
          <label>
            <input type="password" matInput formControlName="password"/>
          </label>
        </mat-form-field>
      </p>


      <button mat-raised-button color="primary" [disabled]="!form.valid" (click)="onClickSaveButton()">save user
      </button>
    </form>

  </div>
</div>
